@import url("https://fonts.googleapis.com/css?family=Exo:400,700");
@import url('bootstrap/dist/css/bootstrap.min.css');


body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  background-color: #fff;
  font-family: sans-serif;
}